{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Murder Mystery Adventure Game
{% endblock %}

{% block styles %}
{{(super())}}
<link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
body{
	padding-top: 50px;
}
{%endblock %}

{%block content%}
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container"
      		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#navbar" aria-expanded="false"
		aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Murder Mystery Adventure Game</a>
	</div>
	
	<div id="navbar" class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="login">Login</a></li>
		<li class="active"><a href="create">Create Account</a></li>
		</ul>
	</div>

	<div class="container">
		<form class="login-form" action="/create" method="POST">
		<h2> Create an Account </h2>
		<p> Please enter a valid email address, username and password</p>
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.username) }}
		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.password) }}
		<button class="btn" type="submit">Sign Up</button>
			Create Account
		</button>
	</form>
	</div>
	
{%endblock%}
