<html>
<head>
	<title> Murder Mystery Game </title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet" />
	<style>
	body{
		padding-top: 50px;
	}
	</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar=-toggle collapsed"
		data-toggle="collapse" data-target="#navbar" aria-expaned="false"
		aria-controls="navbar">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Murder Mystery Game</a>
	</div>
	
	<div id="navbar" class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li class="active"><a href="#">Login</a></li>
		<li><a href="create">Create Account</a></li>
		</ul>
		</div>
	</div>
	</nav>

	<div class="container">
		<form class="form-signin" method="POST" action="/login">
		<h2>Please sign in</h2>
		<input type="username" class="form-class" placeholder="Username" required autofocus>
		<input type="password" class="form-class" placeholder="Password" required>
		<button class="btn" type="submit">Sign in</button>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/boostrap.min.js') }}"></script>
</body>
</html>


