{% extends 'layout.html' %}

{% block body %}
<h1> Further Information </h1>

<div class="jumbotron">
	<p> Further Information </p>
	</br>
	</br>
	<p> So Detective {{ session.username }} what is your decision? </p>
	<br>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/incorrect'">The Escort</button>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/incorrect'">The Gun Nut</button>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/correct'">The Singing Coach</button>

{% endblock %}
