{% extends 'layout.html' %}

{% block body %}
<h1> Gun Nut Interrogation </h1>

<div class="jumbotron">
	<p class="lead">After a background check you find that the security guard has numerous guns and a permit to carry a concealed weapon.<br><br>
	{{session.username}} asks: Why were you at the concert of the murder? <br>
	Gun: I visit the bar often.<br> 
	{{session.username}}: Any reason to visit when the Elvis impersonator was in town?<br>
	Gun: My wife bought me tickets. I am a die-hard Elvis fan. This guy was awful though.<br>
	{{session.username}}: What makes you say that?<br>
	Gun: unfortunately, I have seen the guy before. I mean most people know how I feel about him.. Hell I’ve told Elvis so.<br>
	{{session.username}}: You’ve spoken to him before?<br>
	Gun: I wouldn’t say conversations… <br>
	{{session.username}}: Would you like to expand on that?<br>
	Gun: No...I don't think I should be saying anything....<br>
	{{session.username}}: Very well. Just one more thing. Any reason you carry a gun with you?<br>
	Gun: dangerous times. Never know when you might need one.<br>
	{{session.username}}: Were you carrying last night?<br>
	Gun: no actually, I had an incident last week. Well not an incident but I seem to have lost one of my guns. A hand gun… <br>
	{{session.username}}: A hand gun? Like the weapon used on Elvis?<br>
	Gun: As I said, I think that is enough. Where is my lawyer.<br>
	</p>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/escort'">The Escort</button>
        <button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/coach'">The Singing Coach</button>
	<br><br>After reading all 3 suspects interrogation click: further information. <br>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/further'">Further Information</button>

{% endblock %}

