{% extends 'layout.html' %}

{% block body %}
<h1> We need your help Detective {{session.username}}!</h1>

<div class="jumbotron vertical-center" >
	<p> Everyone has gathered a casino bar for the star performer, the best Elvis impersonator in all of Vegas. As the show starts, a gun shot echoes throughout the bar. The curtain comes up, and Elvis goes down. The casino’s bar doors slam shut and everyone in the bar is now a suspect to the murder of the Elvis impersonator. <br> 
	<br>
	THE NEXT DAY
	<br>
	<br>
	When evaluating the scene of the crime you notice that there is only one possible area the suspect could have shot the gun: offstage.
	<br>
	This means there are 3 possible suspects with the opportunity to kill the impersonator.
	Who would you like to interrogate first:
	</p>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/escort'">The Escort</button>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/gun'">The Gun Nut</button>
	<button class="btn btn-primary" input type="button" onClick="location.href='http://webtech-28.napier.ac.uk:5000/game/coach'">The Singing Coach</button>


{% endblock %}
